/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  html,
  body {
    @apply text-gray-300 min-h-screen;
  }
  html,
  body {
    font-family: 'Raleway', sans-serif;
    background-color: #e9f0fb;
    min-height: 100vh;
    overflow-x: hidden; /* ❗ Zabraní horizontálnímu skrolování */
    overflow-y: auto; /* Místo 'scroll' použij 'auto', aby scrollbar nebyl vidět, když není potřeba */
    -webkit-overflow-scrolling: touch;
    position: relative;
  }
  #__next {
    height: 100%; /* Next.js root kontejner */
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
  }
  .content-div:hover {
    background-image: linear-gradient(to right, rgba(122, 157, 255, 0.8), hsla(242, 74%, 61%, 0.8%)) !important;
  }
  .app-container {
    min-height: var(--app-height); /* Správné řešení pro výšku */
    height: auto;
    overflow: visible;
  }

  /* Navbar */
  .navbar {
    svg {
      cursor: pointer;
    }
  }
}
